filter {
  if [type] == "syslog" {
    grok {
      patterns_dir => "/etc/logstash/patterns"
      match => { "message" => "%{SYSLOGTIMESTAMP:date} %{SYSLOGHOST:hostname} %{PROGRAM:program}(?:\[%{POSINT:pid_thread}\])?: %{GREEDYDATA:log_message}" }
    }
    date {
      match => [ "date", "MMM  d HH:mm:ss", "MMM dd HH:mm:ss" ]
      target => "date"
    }
  }
  else if [type] == "syslog_switch" {
    grok {
      patterns_dir => "/etc/logstash/patterns"
      match => { "message" => "%{OVSDATE:date} %{SYSLOGHOST:hostname} %{PROGRAM:program}(?:\[%{POSINT:pid_thread}\])?: ?%{GREEDYDATA:log_message}" }
    }
    date {
      match => [ "date", "yyyy-MM-dd'T'HH:mm:ss.SSSSSSZ" ]
      target => "date"
    }
  }
}
