OVSDATE %{YEAR}[/-]%{MONTHNUM}[/-]%{MONTHDAY}[T ]%{HOUR}:%{MINUTE}:%{SECOND}[,. ]%{INT} ?%{ISO8601_TIMEZONE}?
REDISTIMESTAMP %{MONTHDAY} %{MONTH} %{TIME}
PIDTHREAD %{INT}/?%{NUM}?
PROGRAM (%{PROG}/?%{PROG}?|%{PATH})
PROG [a-zA-Z0-9._ -]+
NUM [a-z0-9]+